@import url('https://fonts.googleapis.com/css2?family=Dongle&display=swap');

* {
    font-family: 'Dongle', sans-serif;
}

/* TODO: this css will be needed when dark theme will be introduced */
/* #black-theme {
    min-height: 100vh;
    background-color: #121212;
    color: white;
} */

.navbar {
    margin-top: 20px;
    /* background-color: yellow; */
    /* box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
        rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
        rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; */
    padding: 20px;
    border-radius: 20px;
    font-size: 25px;
}

.navbar-heading,
.signup-heading,
.login-heading,
.confirm-window-heading,
.heading {
    font-family: 'Dongle', sans-serif !important;
    font-size: 60px;
}

.navbar-user {
    border: 1px solid rgba(177, 177, 177, 0.644);
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.navbar-user-portal {
    font-size: 25px;
}

.story-body {
    margin-top: 30px;
}

.create-story {
    font-size: 25px;
    padding: 20px;
    border: 1px solid rgba(177, 177, 177, 0.644);
    border-radius: 10px;
    width: 100%;
}

.story-card {
    padding: 20px;
    border: 1px solid rgba(177, 177, 177, 0.644);
    border-radius: 10px;
    margin-bottom: '30px' !important;
}

.story-heading {
    font-family: 'Dongle', sans-serif !important;
}

.navbar-active {
    border-bottom: 2px solid rgba(177, 177, 177, 0.644);
}

.navbar-link {
    cursor: pointer;
}

.story-img {
    max-height: 300px;
}

.user-information {
    margin: auto;
    margin-top: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
        rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    padding: 20px;
}

.responsive-navbar {
    text-align: left;
    margin-top: 20px;
    margin-bottom: 20px;
}

.responsive-navbar .navbar-active {
    text-decoration: none;
    border: none;
    padding: 0;
}

.responsive-add-story {
    text-align: center;
    border: 1px solid rgba(177, 177, 177, 0.644);
    border-radius: 5px;
    margin-bottom: -30px;
    cursor: pointer;
}

.page-loader {
    height: 100vh;
    min-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-box {
    border: 1px solid rgba(177, 177, 177, 0.644);
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    font-size: 20px;
    margin: auto;
    margin-top: 30px;
}

.bold {
    font-weight: bold;
}

.update-badge {
    cursor: pointer !important;
}

.disable {
    cursor: not-allowed;
    color: rgb(194, 194, 194);
}
